extends layout
block content
  div.container
    form(action = `/edituser/${users.id}` method='POST')
      div.form-group
        input.form-control(type='text' name='name' value = users.name placeholder='Name')
      div.form-group
        input.form-control(type='text' name='password' value = users.password placeholder='Password')
      div.d-grid.gap-2
        input.btn.btn-primary.mt-5(type='submit' value='Save')
