extends layout
block content
  div.container
    table.table.table-hover.table-striped.table-bordered
      thead.table-dark
        th Name
        th Password
      body
        tr
          th #{users.name}
          th #{users.password}